.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.btn-outline-success {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}
.signIn {
  height: 38px;
  border-radius: 5px;
  margin-left: 8px;
  background-color: transparent;
}
.signUp {
  height: 38px;
  border-radius: 5px;
  margin-left: 8px;
  background-color: transparent;
}
.bg-dark {
    background-color: #343a40!important;
}
@media (min-width: 768px)
.navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.navbar {
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
h3 {
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 25px;
  margin-left: 150px;
}
.body-control {
  margin-top: 150px;
}
.logo {
  height: 56px;
  width: 60px;
}
.dropdown {
  margin-left: 8px;
  margin-right: 34px;
}
.hiddenBtn {
  border: 0px;
}
