<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <img class="logo" [src]=logoImage>
  <a class="navbar-brand" href="#">SlowKino</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Главная<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" (keyup)="onKey($event)" placeholder="Поиск" aria-label="Search">
      <a routerLink="/movie-search">
        <button class="btn btn-outline-success my-2 my-sm-0" (click) = search() type="submit">Поиск</button></a>
        <a routerLink="/authorization">
      <button type="button" class="signIn btn-outline-primary my-2 my-sm-0">Войти</button></a>
        <a routerLink="/registration">
      <button type="button" class="signUp btn-outline-primary my-2 my-sm-0">Регистрация</button></a>
    </form>
  </div>
</nav>



  <div class="header-control alert alert-dark">
    <h3>Выбрать жанр</h3>

    <a routerLink="/movie-search">
    <button (onclick)=searchByGenre($event) value="Экшен" type="button" class="btn1 btn btn-dark">Экшен</button>
    <button (click)=searchByGenre($event) value="Драма" type="button" class="btn2 btn btn-dark">Драма</button>
    <button (click)=searchByGenre($event) value="Ужасы" type="button" class="btn3 btn btn-dark">Ужасы</button>
    <button (click)=searchByGenre($event) value="Детектив" type="button" class="btn4 btn btn-dark">Детектив</button>
    <button (click)=searchByGenre($event) value="Фантастика" type="button" class="btn5 btn btn-dark">Фантастика</button>
    <button (click)=searchByGenre($event) value="Романтика" type="button" class="btn6 btn btn-dark">Романтика</button>
    <button (click)=searchByGenre($event) value="Комедия" type="button" class="btn7 btn btn-dark">Комедия</button>
    <button (click)=searchByGenre($event) value="Триллер" type="button" class="btn8 btn btn-dark">Триллер</button>
    <button (click)=searchByGenre($event) value="Криминал" type="button" class="btn9 btn btn-dark">Криминал</button>
  </a>
  </div>

  <router-outlet></router-outlet>
