
  <img class="newImg" src={{movie.imgSrc}}>
<div class="contain-details alert alert-success">
  <p><strong>Название: </strong>{{movie.title}}</p>
  <p><strong>Дата выхода: </strong>{{movie.year}}</p>
  <p><strong>Рейтинг: </strong>{{movie.rating}}</p>
  <p><strong>Жанр: </strong>{{movie.genres}}</p>
  <p><strong>В ролях: </strong>{{movie.cast}}</p>
</div>

<div class="description alert alert-success">
  <p><strong>Описание: </strong>{{movie.description}}</p>
</div>

<div class="ngModule alert alert-dark" role="alert">
<h6>Редактировать</h6><br>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Title</span>
    </div>
    <input type="text" [(ngModel)]="movie.title" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Year</span>
    </div>
    <input type="text" [(ngModel)]="movie.year" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Rate</span>
    </div>
    <input type="text" [(ngModel)]="movie.rating" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Desc</span>
    </div>
    <input type="text" [(ngModel)]="movie.description" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>

</div>
