.newImg {
  margin-left: 165px;
  margin-top: 80px;
  height: 350px;
  width: auto;
}
.contain-details {
  margin-left: 415px;
  margin-top: -350px;
  width: 530px;
  height: 350px;
  font-size: 18px;
  color: black;
}
.description {
  margin-left: 165px;
  width: 780px;
  top: 5px;
  font-size: 18px;
  color: black;
}
.ngModule {
  position: absolute;
  top: 250px;
  left: 960px;
  width: 340px;
  height: 350px;
}

.bg {
  /* The image used */
  background-image: url("http://art-ucoz.ru/_ld/0/97574662.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
