.newImg {
  margin-left: 150px;
  margin-top: 50px;
  height: 350px;
  width: auto;
}
.contain-details {
  margin-left: 410px;
  margin-top: -355px;
  width: 520px;
  font-size: 18px;
  color: black;
}
.description {
  margin-left: 150px;
  width: 780px;
  font-size: 18px;
  color: black;
}
