
  <img class="newImg" [src]=myImage1>
<div class="contain-details alert alert-success">
  <p><strong>Название: </strong>Джон Уик 3</p>
  <p><strong>Дата выхода: </strong>15 мая 2019 года</p>
  <p><strong>Рейтинг: </strong>IMDb: 7.5 (236 319) Кинопоиск: 6.69 (75 333)</p>
  <p><strong>Жанр: </strong>Боевики, Драмы, Триллеры, Криминал, Зарубежные</p>
  <p><strong>В ролях: </strong>Киану Ривз, Холли Берри, Иэн МакШейн, Лоренс Фишбёрн, Марк Дакаскос, Азия Диллон, Лэнс Реддик, Тобиаш Сигал, Анжелика Хьюстон, Саид Тагмауи и другие</p>
</div>

<div class="description alert alert-success">
  <p><strong>Описание: </strong>В центре сюжета находится Джон Уик — опытный киллер, который убил члена международной гильдии
    ассасинов на территории отеля "Континенталь", тем самым нарушив профессиональный кодекс, за что был приговорен к смерти. Несмотря на то, что Джона должны были казнить немедленно, ему удалось<br>
     получить час отсрочки, перед тем, как наемник был признан отступником, отрезанным от гильдии и
      бывших коллег. И теперь за его голову назначено вознаграждение в 14 миллионов долларов, а десятки
       самых опасных убийц не остановятся ни перед чем, отправившись на охоту на крайне опасного зверя...</p>
</div>
