<div class="card-deck">
  <div class="card">
    <img [src]=keanu class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Биография</h5>
      <ul>
        <li><p><strong>Имя: </strong>Киану Ривз</p></li>
        <li><p><strong>Страна: </strong>Канада</p></li>
        <li><p><strong>Возраст: </strong>55 лет</p></li>
        <li><p><strong>Фильмы: </strong>Джон Уик 3</p></li>
      </ul>

    </div>
  </div>
  <div class="card">
    <img [src]=keanu1 class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Фильмография</h5>
      <ul>
        <li>spisok</li>
        <li>spisok2</li>
      </ul>
    </div>
  </div>
  <div class="card">
    <img [src]=keanu2 class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Награды</h5>
      <ul>
        <li>1991: Кинонаграда канала MTV, Самый желанный мужчина («На гребне волны»)</li>
        <li>1994: Кинонаграда канала MTV, Лучший экранный дуэт («Скорость»)</li>
        <li>2000: Премия «Blockbuster Entertainment Award», Лучший актёр в жанре экшн («Матрица»)</li>
        <li>2000: Премия «Golden Slate», Лучший актёр («Матрица»)</li>
        <li>2000: Кинонаграда канала MTV, Лучшая мужская роль («Матрица»)</li>
        <li>2004: Премия «World Stunt Awards», Почётная награда Лучшему актёру (за исполнение трюков в фильмах «Матрица: Перезагрузка» и «Матрица: Революция»)</li>
        <li>2006: Премия «Teen Choice Award», Лучшая экранная пара («Дом у озера»)</li>
        <li>2008: Премия «Bambi», Лучший зарубежный актёр (после фильма «Короли улиц»)</li>
      </ul>
    </div>
  </div>
</div>
