<div class="infoUser alert alert-info">
  <h1>Персональные данные</h1>
  <p id="avatarInfo">Аватар:</p>
  <img class="profileAva" [src]=imageLogoProfile>
    <div class="bday">
      <p id="bdayInfo">Дата рождения</p>
      <select class="form1 form-control">
        <option>Не указано</option>
        <option>01</option>
        <option>02</option>
        <option>03</option>
        <option>04</option>
        <option>05</option>
        <option>06</option>
        <option>07</option>
        <option>08</option>
        <option>09</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
        <option>31</option>
      </select>
      <select class="form2 form-control">
        <option>Не указано</option>
        <option>Январь</option>
        <option>Февраль</option>
        <option>Март</option>
        <option>Апрель</option>
        <option>Май</option>
        <option>Июнь</option>
        <option>Июль</option>
        <option>Август</option>
        <option>Сентябрь</option>
        <option>Октябрь</option>
        <option>Ноябрь</option>
        <option>Декабрь</option>
      </select>
      <select class="form3 form-control">
        <option>Не указано</option>
        <option>1990</option>
        <option>1991</option>
        <option>1992</option>
        <option>1993</option>
        <option>1994</option>
        <option>1995</option>
        <option>1996</option>
        <option>1997</option>
        <option>1998</option>
        <option>1999</option>
        <option>2000</option>
      </select>
      <p id="genreInfo">Пол</p>
      <select class="form4 form-control">
        <option>Не указано</option>
        <option>Мужской</option>
        <option>Женский</option>
      </select>
      <p id="cityInfo">Город</p>
      <input type="text" id="cityProfile">
      <p id="aboutInfo">О себе</p>
      <textarea rows="5" cols="50" id="aboutProfile"></textarea>
  </div>

  <p id="usrInfo">Смена ника:</p>
    <div class="usrPfl">
      <input type="text" placeholder="" id="usernameProfile">
    </div>



  </div>
