<div class="body-control alert alert-dark">
  <h1>Рекомендуем посмотреть</h1>

  <div *ngFor="let mv of movies; let i = index" >
    <img class="img{{mv.id}}" src={{mv.imgSrc}} *ngIf="i<5"  >
    <a routerLink="/movie-details/{{mv.id}}" class="name{{i+1}}" *ngIf="i<5">{{mv.title}}</a>
  </div>


</div>

<div class="bottom-control alert alert-dark">
  <h2>Детективы</h2>

  <div class="box6">
    <img class="img6" [src]=myImage6>
    <a routerLink="/movie-details/6" class="name6">Достать ножи</a>
  </div>
  <div class="box7">
    <img class="img7" [src]=myImage7>
    <a routerLink="/movie-details/7" class="name7">Пассажир</a>
  </div>
  <div class="box8">
    <img class="img8" [src]=myImage8>
    <a routerLink="/movie-details/8" class="name8">Нерв</a>
  </div>
  <div class="box9">
    <img class="img9" [src]=myImage9>
    <a routerLink="/movie-details/9" class="name9">Шерлок Холмс: Игра теней</a>
  </div>
  <div class="box10">
    <img class="img10" [src]=myImage10>
    <a routerLink="/movie-details/10" class="name10">Иллюзия обмана</a>
  </div>
</div>
