<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
  
</head>
<body>
	
	<div class="limiter">
		<div class="container-login">
			<div class="login">
				<form class="login-form">
					<span class="title">
              Регистрация
					</span>

					<div class="wrap-input">
						<span class="label-input">Логин</span>
						<input class="input" type="text" name="username" placeholder="Введите логин">
						<span class="symbol" data-symbol="&#9830;"></span>
					</div>

					<div class="wrap-input">
						<span class="label-input">Пароль</span>
						<input class="input" type="password" name="pass" placeholder="Введите пароль">
						<span class="symbol" data-symbol="&#9830;"></span>
					</div>

          <div class="wrap-input">
						<span class="label-input">Подтвердите пароль</span>
						<input class="input" type="password" name="pass" placeholder="Подтвердите пароль">
						<span class="symbol" data-symbol="&#9830;"></span>
					</div>
					
          <div class="wrap-input">
						<span class="label-input">Email</span>
						<input class="input" type="email" name="pass" placeholder="Введите email">
						<span class="symbol" data-symbol="&#9830;"></span>
					</div>
					<br>
					<div class="container-btn">
						<div class="wrap-btn">
							<div class="bgbtn"></div>
							<button class="btn">
								Зарегистрироваться
							</button>
						</div>
					</div>

          <div class = "label-input">
            Уже есть аккаунт? <a routerLink="/authorization"> Вход</a>
          </div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
</body>
</html>